@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Quicksand&display=swap');


body{
    font-family: quicksand;
    background-color:#D7E7EC;
}

h1{
    text-align: center;
    margin-top: 10px;
    font-size: 50px;
}

h2{
    text-align:center;
    font-size: 35px;
}
.item {
    display: inline-block;
    padding: 20px;
    width: 400px;
}
.scatter{
    width: 400px;
    height: 250px;
    display: inline;
    /*margin: 20px 150px 100px 150px;*/
    /*margin: 30px auto;*/

}

.title{
    text-align: center;
    font-size: 25px;
}

