@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Quicksand&display=swap');


body{
    font-family: quicksand;
    background-color:#D7E7EC;
}

h1{
    text-align: center;
    margin-top: 10px;
    font-size: 50px;
}

h2{
    text-align:center;
    font-size: 35px;
}
.item {
    display: inline-block;
    padding: 20px;
    width: 400px;
}
.scatter{
    width: 400px;
    height: 280px;
    display: inline;
    /*margin: 20px 150px 100px 150px;*/
    /*margin: 30px auto;*/

}

.title{
    text-align: center;
    font-size: 25px;
}

.itempie{
    display: inline-block;
    margin:  20px 40px 20px 15px; 
}

.itembubble{
    display: inline-block;

    margin: 20px 20px 20px 20px;
}

.container{
    text-align: center;
}

.scatter1{
    width: 400px;
    height:280px;
}

.imgbub{
    margin-left: 50px;
    padding: 50px;
}